.nav-link.active{
	position:relative;
	display:inline-block;
	padding-bottom:1px !important;
	padding-left:0px !important;
}
.navbar-light .navbar-nav .nav-link {
	text-transform: uppercase;
}
.nav-link.active::before {
	content: "";
	position: absolute;
	width: 50%;
	height: 1px;
	bottom: 0;
	left: 1%;
	border-bottom: 2px solid red;
}
.slider-inicio{
	height: 892px;
	overflow: hidden;
}
.carousel-item {
	height: 892px;
	background-size: cover !important;
	background-position: center center !important;
}
.slider-caption {
	background: #00000070;
	top: 10%;
	position: absolute;
	left: 5%;
	padding: 35px;
	color: #fff;
}
.slider-caption p {
	font-size: 4.8rem;
}
.slider-caption p.line2 {
	font-size: 3rem;
	line-height: 3.2rem;
}